
<div class="row"></div>
<br />
<div class="row">

<div class="card-panel {{updateusersystembolags.color}} lighten-2">{{updateusersystembolags.status}}</div>
	<form class="css-form col s12">
		
	<div class="row">
		<div class="input-field col s12 m12 l6 push-l3 ">
			<input name="name" id="username" type="text" class="validate" value="{{updateusersystembolags.syst.name}}" ng-model="updateusersystembolags.syst.name" >
			<label for="username">Namn</label>
		</div>
	</div>
		<div class="row">
		<div class="input-field col s12 m12 l6 push-l3 ">
			<input name="description" id="username" type="text" class="validate" value="{{updateusersystembolags.syst.description}}" ng-model="updateusersystembolags.syst.description" >
			<label for="username">Beskrivning</label>
		</div>
	</div>
		<div class="row">
		<div class="input-field col s12 m12 l6 push-l3 ">
			<input name="positions" id="username" type="text" class="validate" value="{{updateusersystembolags.syst.adress}}" ng-model="updateusersystembolags.syst.adress" >
			<label for="username">Adress</label>
		</div>
	</div>
		
	
	</form>
	<div class="row col s12 m12 l6 push-l3"><a ng-click="updateusersystembolags.update(syst)" class="waves-effect waves-light btn">Updatera</a></div>
</div>
	
</div>
