 <nav ng-controller="NavigationController">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Hem</a></li>
        <li><a href="systembolags">Alla Systembolag</a></li>
        <li><a href="tags">Alla Taggar</a></li>
        
        <span ng-if="isLoggedIn()">
          <li><a href="usersystembolags">Lägg Till/Redigera Systembolag</a></li>
          <li><a href="usertags">Lägg Till/Redigera Taggar</a></li>
          <li><a ng-click="logout()">Logga Ut</a></li>
        </span>
        
        <span ng-if="!isLoggedIn()">
          <li><a href="login">Logga In</a></li>
        </span>
      </ul>
      
    </div>
  </nav>









<!-- 

  <ul class="side-nav" id="mobile-demo">
       <li><a href="/">Hem</a></li>
        <li><a href="systembolags">Alla Systembolag</a></li>
        <li><a href="tags">Alla Taggar</a></li>
        <li><a href="login">Logga In</a></li>
      </ul> -->